.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    animation: about 1s ease;
}

@keyframes about {
    0%{

        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.aboutContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    padding: 40px;
    font-size: 20px;
    font-family: sans-serif;
    transition: 500ms ease;
    border: 1px solid rgb(178, 189, 207);
    box-shadow: 0px 0px 10px rgb(3, 3, 230);
    border-radius: 10px;
}

.aboutContent:hover{
    box-shadow: 0px 0px 50px rgb(3, 3, 230);
    scale: 1.02;
}

.logo{
    width: auto;
    margin: 20px;
    height: 100px;
}

.aboutParagraph{
    text-align: justify;
    margin: 20px;
}

#bolt{
    position: absolute;
    left: 50vw;
    top: 22vh;
    scale: 25;
    opacity: 0.4;
    color: rgb(178, 189, 207);
    z-index: -1;
}