@import '@fortawesome/fontawesome-free/css/all.css';
*{
    user-select: none;
    -webkit-user-drag: none;
    font-family: sans-serif;
}
*::-webkit-scrollbar{
    display: none;
}
body{
    margin: 0;
}